@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;

  --background: 255 100% 100%;
  --foreground: 224 71.4% 4.1%;
  --card: 255 100% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --popover: 255 100% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --primary: 220.9 39.3% 11%;
  --primary-foreground: 210 20% 98%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --custominput1: 220 14.3% 95.9%;
  --input-foreground: 224 71.4% 4.1%;
  --ring: 224 71.4% 4.1%;

  --chart-1: 30 80% 60%;
  --chart-2: 180 60% 40%;
  --chart-3: 210 40% 30%;
  --chart-4: 45 80% 65%;
  --chart-5: 25 90% 65%;
}

.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --primary: 210 20% 98%;
  --primary-foreground: 220.9 39.3% 11%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --muted: 220 45% 8%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --custominput1: 220 45% 8%;
  --input: 215 28% 17%;
  --input-foreground: 210 20% 98%;
  --ring: 216 12.2% 83.9%;

  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family: var(--font-lexend);
}


/* Custom search clear button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%239CA3AF" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
}